body {
  text-decoration: none;
}
#ingredient,
#enter,
#delete {
    margin-bottom: 4px;
}
.jumbotron {
    text-align: center;
}
.btn-primary {
    background-color: gray;
}
input[type=button] {
    height: 34px
}
ul {
    margin-left: 0;
    padding-left: 0;
}
.btn-lg {
    margin-top: 15px;
    margin-bottom: -20px;
}
a, a:hover, a:active, a:visited {
    text-decoration:none;
}
a {
    color: #000;
}
a:hover,
a:visited {
    font-weight: 400;
    color: #000;
}
