#ingredient, #enter, #delete {margin-bottom: 4px;}
.jumbotron {text-align: center;}
.btn-primary {background-color: gray;}
input[type=button] {height: 34px}
ul  { margin-left: 0;
    padding-left: 0;}